{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10", "safari >= 7"],
          "node": "6.10.3"
        },
        "useBuiltIns": true
      }
    ],
    "stage-0"
  ],
  "env": {
    "test": {
      "presets": [["env"]]
    }
  },
  "plugins": ["transform-es2015-modules-commonjs", "transform-es2017-object-entries", "transform-object-rest-spread"]
}

