{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["ie >= 10"]
        }
      }
    ],
    "stage-0"
  ],
  "env": {
    "test": {
      "presets": [["env"]]
    }
  },
  "plugins": ["transform-es2015-modules-commonjs", "transform-es2017-object-entries", "transform-object-rest-spread"]
}
